/*======================*/
/*        BUTTONS        */
/*======================*/
.button_main {
	/*display: block;*/
	background: none;
	color: inherit;
	position: relative;
	z-index: 1;
}

/*Sizes*/

.button_style_red_xs {
	color: white;
	border: solid 1px #FF0000;
	border-radius: 20px;
	background-color: #FF0000;
	font-size: 12px;
	font-family: 'Montserrat-Bold';
	padding: 5px; 
	width: 130px;
	transition: all ease-in-out 0.3s;
	margin: 7px 5px 10px;
	text-align: center;
    overflow: hidden;
}
.button_style_white_xs {
	color: white;
	border: solid 1px white;
	border-radius: 20px;
	background-color: transparent;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 120px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;
}
.button_style_red_sm {
	color: white;
	border: solid 1px #FF0000;
	border-radius: 20px;
	background-color: #FF0000;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 170px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;
}

.button_style_white_sm {
	color: white;
	border: solid 1px white;
	border-radius: 20px;
	background-color: transparent;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 170px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;
}

.button_style_red_md {
	color: white !important;
	border: solid 1px #FF0000;
	border-radius: 20px;
	background-color: #FF0000;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 200px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;
}

.button_style_white_md {
	color: white;
	border: solid 1px white;
	border-radius: 20px;
	background-color: transparent;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 200px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;
}


/* Gray Buttons */

.button_style_gray {
	color: white;
	border: solid 1px transparent;
	border-radius: 20px;
	background-color: #243141;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 200px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;	
}

.button_style_gray_md {
	color: white;
	border: solid 1px transparent;
	border-radius: 20px;
	background-color: #243141;
	font-family: 'Montserrat-Bold';
	padding: 10px; 
	width: 200px;
	transition: all ease-in-out 0.3s;
	margin: 20px 5px 10px;	
}

/*Are we a good Fit section */

.are_red_btn {
	background-color: red;
	color: white;
	height: 70px;
	width: 20%;
	border: none;
	font-family: "Montserrat-Bold";
	font-size: 25px;
	margin: 10px;
}

.are_gray_btn {
	background-color: #17212B;
	color: white;
	height: 73px;
	width: 20%;
	border: none;
	font-family: "Montserrat-Bold";
	font-size: 25px;
	margin: 10px;
}

.are_gray_btn i {
	color: red;
}

/*Button Hover Effect*/


.button_main.button__aylen {
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    border-radius: 40px;
    color: white;
}
.button__aylen::before,
.button__aylen::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 100%;
	left: 0;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button__aylen::before {
	background: rgba(255, 255, 255, 0.49);
	color: black;
}
.button__aylen::after {
	background: rgba(255, 255, 255, 0.49);
	background: rgba(255, 0, 0, 0.56); /*Light Red*/
	color: black;
}
.button__aylen:hover {
	color: #fff;
	border: solid 1px  rgba(255, 0, 0, 0.56);
}
.button__aylen:hover::before,
.button__aylen:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button__aylen:hover::after {
	-webkit-transition-delay: 0.175s;
	transition-delay: 0.175s;
}



/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n { 
      display: none;
    }

}

/*Only on Mobile*/
@media only screen and (max-width: 844px) {
    .mobile-d-n {
   		display: none;
  	}
  	.are_gray_btn {
  		width: 40%;
  	}
  	.are_red_btn {
  		width: 40%;
  	}
}


/*

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ccc;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: #ccc;
}

::-webkit-scrollbar-thumb
{
	background-color: #0D141C;
}*/



/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: white;
  text-decoration: none !important;
}
.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: white;
}
.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  color: white;
  text-decoration: none !important;
}
