.hide-checkbox + label {
display: block;
float: left;
width: 100%;
padding: 2px 0;
text-align: center;
background-color: #0D141C;
color: #fff;
height: 6%;
padding: 20px;
border-radius: 6px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
transition: ease-in-out all 0.3s;
margin-top: 10px;
font-family: "Montserrat-Light";
}
.hide-checkbox + label:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: ease-in-out all 0.3s;
  cursor: pointer;
} 
.hide-checkbox:checked + label {
display: inline-block;
background-color: #FF0000;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
transition: ease-in-out all 0.1s; 
} 

.hide-checkbox + label img {
  width: 10%;
  margin-bottom: 5px; 
}

.how_m_pages .hide-checkbox + label {
  font-size: 25px;
  padding: 25px;
}

